// primary
$primary: #FF5D19;
$primary-dark:#D94D13;

// secondary
$secondary:#004B8E;
$secondary-dark:#000066; 

// gray 
$gray-darker:#2C3343;
$gray-dark:#707070; //#67728B
$gray-medium:#A7B3CC;
$gray-light: #C7C7C7; //#BEC8DF
$gray-lighter:rgb(249, 249, 249);

// feedback
$green:#23C26D; //#30E69D;
$yellow:#F8CF2A;
$red:#FF395B;
$white: #fff;

////
$keyboard:#F5F5F5;
$black-text:#000;
//#FFFFBF feedback alert-attention
//#F3F3F3 feedback alert-information
//#DDDDDD
// #F5F5F5
//#D2D2D2
//#333333 text
//F9F9F9 haberes
