h1 {
    font-size: 80px;
    font-family: 'Lato';
}
h2 {
    font-size: 50px;
    font-family: 'Lato';
}
h3 {
    font-size: 21px;
    font-family: 'Lato';
}
h4 {
    font-size: 18px;
    font-family: 'Lato';
}
h5 {
    font-size: 12px;
    font-family: 'Lato';
}
p {
    font-size: 10px;
    font-family: 'Lato';
}